@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: hsl(4, 100%, 67%);
  --secundary: hsl(339, 100%, 62%);
  --grey: hsl(231, 7%, 60%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --dark-slate-grey: hsl(234, 29%, 20%);
}
